
@keyframes rotacion {
    from {
        transform: rotate(-5deg);
    }
    to {
      transform: rotate(5deg)
    }
  }

.trasladar-hacia-arriba {
    transform: translateY(-100%);
}

.trasladar-hacia-abajo {
    transform: translateY(100%);
}

.rotacion-y {
    transform: rotateY(360deg);
}

.tarjeta-comic:hover, .tarjeta-personaje:hover {
    .fondo-texto {
        background-color: #ffbf0f;
        color: black;
    }
}



