
@keyframes rotacion {
    from {
        transform: rotate(-5deg);
    }
    to {
      transform: rotate(5deg)
    }
  }

.trasladar-hacia-arriba {
    transform: translateY(-100%);
}

.trasladar-hacia-abajo {
    transform: translateY(100%);
}

.ocultar {
    display: none;
}

.rotacion-y {
    
    transform: rotateY(360deg);
}