@media (max-width: 1399.98px) { 

  
}

@media (max-width: 1199.98px) { 
  
 }


 @media (max-width: 991.98px) {
    .contenedor-tarjetas-y-botones-paginado {
        max-width: 800px;
    }

  }



@media (max-width: 767.98px) { 
    .tarjeta-personaje {
        width: calc(100% / 3 - 2 * 10px)
     }

     .contenedor-tarjetas-y-botones-paginado {
        max-width: 770px;
    }

    .nav-menu {
        ul {
            display: none;
        }
    }
 }


@media (max-width: 575.98px) { 

    .contenedor-tarjetas-y-botones-paginado {
        max-width: 570px;
    }

    .contenedor-tarjetas {
        flex-direction: column;
    }


    .tarjeta-personaje {
        width: 75%;
        height: 340px;
    }

    .personaje-seleccionado {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contenedor-imagen-objeto-seleccionado {
        margin-bottom: 30px;
    }
    .imagen-personaje-lista-personajes {
        width: -webkit-fill-available;
        right: 0px;
    }
 }


 @media (max-width: 361px) {

    .imagen-personaje-lista-personajes {
        width: -webkit-fill-available;
        right: 0px;
    }

    .contenedor-tarjetas-y-botones-paginado {
        max-width: 360px;
    }
   
    .tarjeta-personaje {
        width: calc(100% - 2 * 10px);
    }

   
    .tarjeta-personaje {
        width: 75%;
        height: auto
    }

    .cuadro-comic  {
        max-width: 255px;
    }

    h2 {
        font-size: 35px;
    }

    .contenedor-elemento-seleccionado {
        width: 260px;
    }
          
 }


 @media (max-width: 279.98px) {
    .tarjeta-personaje {
        width: 90%;
        height: 263px;
    }
}

@media (min-width: 767.98px) {
    .contenedor-boton-cerrar {
        button {
            display: none;
        }
    }
}

  
//   @media (max-width: 750px) {
//     .comic-section,
//     .character-section {
//       flex-direction: column;
//     }
  
//     .comic-details,
//     .character-details {
//       margin-top: 40px;
//     }
//   }
  
//   @media (max-width: 640px) {
//     .comic {
//       width: calc(100% / 3 - 2 * 10px);
//     }
  
//  
//   }
  
//   @media (max-width: 430px) {
//     .character {
//       width: calc(100% / 2 - 2 * 10px);
//     }
//   }
  
//   @media (max-width: 360px) {
//     .comic {
//       width: calc(100% - 2 * 10px);
//     }
  
//    
//     .character-img-container {
//       height: auto;
//     }
//   }
  