@media (max-width: 1399.98px) { 

  
}

@media (max-width: 1199.98px) { 
  
 }


 @media (max-width: 991.98px) {
    .contenedor-tarjetas-y-botones-paginado {
        max-width: 800px;
    }

  }


@media (max-width: 767.98px) { 
    .contenedor-tarjetas-y-botones-paginado {
        max-width: 770px;
    }

    #contenedor-tarjetas-personajes {
        max-width: 420px;
    }

    .nav-menu {
        ul {
            display: none;
        }
    }

    #contenedor-tarjetas-comics {
        max-width: 540px;
    }
 }


@media (max-width: 575.98px) { 

    .contenedor-tarjetas-y-botones-paginado {
        max-width: 570px;
    }

    .contenedor-tarjetas {
        flex-direction: column;
    }
    .tarjeta-personaje {
        width: 75%;
        height: 340px;
    }

    .personaje-seleccionado {
        flex-direction: column-reverse;
        align-items: center;
    }

    .contenedor-imagen-objeto-seleccionado {
        margin-bottom: 30px;
    }
    .imagen-personaje-lista-personajes {
        width: -webkit-fill-available;
        right: 0px;
    }
    #contenedor-tarjetas-comics {
        max-width: 280px;
    }
 }


 @media (max-width: 361px) {

    .imagen-personaje-lista-personajes {
        width: -webkit-fill-available;
        right: 0px;
    }

    .contenedor-tarjetas-y-botones-paginado {
        max-width: 360px;
    }
   
    .tarjeta-personaje {
        width: calc(100% - 2 * 10px);
    }

   
    .tarjeta-personaje {
        width: 75%;
        height: auto
    }

    .cuadro-comic  {
        max-width: 255px;
    }

    h2 {
        font-size: 35px;
    }

    .contenedor-elemento-seleccionado {
        width: 260px;
    }
          
 }


 @media (max-width: 279.98px) {
    .tarjeta-personaje {
        width: 90%;
        height: 263px;
    }
}

@media (min-width: 767.98px) {
    .izquierda-menu-nav {
        button {
            display: none;
        }
    }
}

  