@mixin flex-centrar($direccion: column, $content: center, $align:center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $content;
    align-items: $align;
  }


@mixin imagen-fondo {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

@mixin tarjetas {
  border: $bordes-tarjetas-estilo-comic;
  font-family: $tipografia-principal-italic;
}

@mixin cuadroDeDialogo {
  border: $bordes-tarjetas-estilo-comic;
  font-family: $tipografia-principal-italic;
  color: $color-principal-fondos-claros;
  background-color: $fondo-tarjetas-aclaraciones;
  box-shadow: $sombra-tarjetas-estilo-comic;
  padding: 20px;
  margin: 20px;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row-wrap {
  display: flex;
  flex-wrap: wrap;
}