@mixin flex-centrar($direccion: column, $content: center, $align:center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $content;
    align-items: $align;
  }


@mixin imagen-fondo {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
