@mixin flex-centrar($direccion: column, $content: center, $align:center) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $content;
    align-items: $align;
<<<<<<< HEAD
  }
=======
  }

@mixin imagen-fondo {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
>>>>>>> 30c1eebda590feadd21e95f203038a6cb523b033
