* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
<<<<<<< HEAD
=======

section {
    padding: 110px 40px 130px;
}

img {
    width: 100%;
    height: 100%;
}

>>>>>>> 30c1eebda590feadd21e95f203038a6cb523b033
