* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

section {
    padding: 110px 40px 130px;
    height: 100%;
}

h2 {
    font-size: 3em;
    margin: 10px;
    font-family: $tipografia-principal-sombreada;
    color: $color-principal-fondos-claros;
}

h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
    font-family: $tipografia-principal-bold;
}

h4 {
    font-family: $tipografia-principal-regular;
    color: $color-principal-fondos-oscuros;
}

h5 {
    font-family: $tipografia-secundaria;
    font-size: 15px;
    margin: 15px 0;
}


body, html {
    height: 100%;
}

img {
    width: 100%;
}


a:link, a:active, a:visited {
    text-decoration:none;
    color: $color-principal-fondos-oscuros;
}

ul {
    list-style: none;
}

li {
    padding: $padding-botones;
}


button {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

input {
    border-radius: 5px;
    border: none;
    height: 50px;
    width: 250px;
    padding: 10px;
}

label {
    font-size: 20px;
    font-weight: bold;
    font-family: $tipografia-secundaria;
}