//TIPOGRAFIAS
$tipografia-principal-italic: ActionManItalic;
$tipografia-principal-bold: ActionManBold;
$tipografia-principal-regular: ActionManRegular;
$tipografia-principal-sombreada: Actionmanshadded;
$tipografia-secundaria: Roboto;


//COLORES Y BORDES
$color-principal-fondos-oscuros: white;
$color-principal-fondos-claros: black;
$color-fondo-principal: #ffbf0f;
$bordes-tarjetas-estilo-comic: 3px solid rgb(0, 0, 0);
$sombra-tarjetas-estilo-comic: 6px 6px 0px 0px rgb(0,0,0);
$fondo-navbar-footer: black;



//DISTANCIAS
$padding-nav-footer: 30px;
$padding-contenedores: 20px;
$padding-botones: 10px;
$margen-separacion-vertical-M-elementos: 20px 0;
$margin-separacion-vertical-S-elementos: 10px 0;
$margen-superior: 20px;
$margen-inferior: 20px;
$margen-tarjetas: 20px;

// es asi, los diseñadores en general tienen tablas de medidas y vos las pones en las variables!
// las variables de distancia no las super usar muy bien. SUpongo que trabajando con un disenador, es mejor
//Tamanos
