//TIPOGRAFIAS
$tipografia-principal-italic: ActionManItalic;
$tipografia-principal-bold: ActionManBold;
$tipografia-principal-regular: ActionManRegular;
$tipografia-secundaria: Roboto;


//COLORES Y BORDES
$color-principal-fondos-oscuros: white;
$color-principal-fondos-claros: black;
$fondo-tarjetas-aclaraciones: #ffbf0f;
$bordes-tarjetas-estilo-comic: 3px solid rgb(0, 0, 0);
$sombra-tarjetas-estilo-comic: 6px 6px 0px 0px rgb(0,0,0);
$fondo-navbar-footer: black;



//DISTANCIAS
$padding-boxes: 20px;
$padding-botones: 10px;
$margen-superior: 20px;
$margen-inferior: 20px;
$margen-tarjetas: 10px;


//Tamanos
