@import "reset";
@import "mixin";
@import "variables";
@import "componentes";

@font-face {
    font-family: ActionManItalic;
    src: url("tipografias/Action-Man/Action_Man_Italic.ttf") format("opentype");
}

@font-face {
    font-family: ActionManBold;
    src: url("tipografias/Action-Man/Action_Man_Bold.ttf") format("opentype");
}


.seccion-inicio {
    background-image: url(../images/fondoBuscadorComic.svg);
    @include imagen-fondo();
    @include flex-centrar();
    height: 100vh;
}