* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

section {
  padding: 110px 40px 130px;
  height: 100%; }

body, html {
  height: 100%; }

img {
  width: 100%; }

a:link, a:active, a:visited {
  text-decoration: none;
  color: white; }

ul {
  list-style: none; }

li {
  padding: 10px; }

button {
  border: none;
  background-color: transparent;
  cursor: pointer; }

input {
  border-radius: 5px;
  border: none;
  height: 50px;
  width: 250px;
  padding: 10px; }

label {
  font-size: 20px;
  font-weight: bold;
  font-family: Roboto; }

.boton-onomatopeya {
  width: 80%;
  transition-property: width;
  transition-duration: 0.1s;
  animation-direction: alternate;
  animation-duration: 0.1s;
  animation-iteration-count: 6; }

.boton-desplazamiento {
  border: 3px solid black;
  font-family: ActionManItalic;
  color: black;
  background-color: #ffbf0f;
  box-shadow: 6px 6px 0px 0px black;
  margin: 5px;
  padding: 10px;
  font-size: 20px; }

.boton-desplazamiento:active {
  border: white;
  color: white;
  box-shadow: 3px 3px 0px 0px black; }

.sombra {
  box-shadow: 4px 22px 37px -20px #524c52; }

.width-100 {
  width: 100%;
  display: flex;
  justify-content: center; }

@keyframes rotacion {
  from {
    transform: rotate(-5deg); }
  to {
    transform: rotate(5deg); } }
.trasladar-hacia-arriba {
  transform: translateY(-100%); }

.trasladar-hacia-abajo {
  transform: translateY(100%); }

.rotacion-y {
  transform: rotateY(360deg); }

.tarjeta-comic:hover .fondo-texto, .tarjeta-personaje:hover .fondo-texto {
  background-color: #ffbf0f;
  color: black; }

.boton-onomatopeya:hover {
  transform: scale(1.1); }

.comics-del-personaje:hover, .personajes-del-comic:hover {
  transform: translateY(-6px); }

@font-face {
  font-family: ActionManItalic;
  src: url("tipografias/Action-Man/Action_Man_Italic.ttf") format("opentype"); }
@font-face {
  font-family: ActionManBold;
  src: url("tipografias/Action-Man/Action_Man_Bold.ttf") format("opentype"); }
@font-face {
  font-family: ActionManRegular;
  src: url("tipografias/Action-Man/Action_Man.ttf"); }
@font-face {
  font-family: Actionmanshadded;
  src: url("tipografias/Action-Man/Action_Man_Shaded.ttf"); }
h2 {
  font-size: 3em;
  margin: 10px;
  font-family: Actionmanshadded;
  color: black; }

h3 {
  font-size: 1.5em;
  margin-bottom: 20px;
  font-family: ActionManBold; }

h4 {
  margin-bottom: 10px;
  font-family: ActionManRegular; }

h5 {
  font-family: Roboto;
  font-size: 15px;
  margin: 15px 0; }

.contenedor-imagen-presentacion {
  width: 40vw; }

.texto-presentacion {
  font-family: ActionManItalic;
  color: white;
  margin: 20px;
  text-align: center;
  font-size: 200%; }

.contenedor-boton-inicio {
  width: 15vw;
  cursor: pointer;
  position: absolute;
  bottom: 0; }

nav {
  display: flex;
  align-items: center;
  background-color: black;
  padding: 30px;
  border-bottom: 2px solid white;
  z-index: 3; }

.nav-menu ul {
  display: flex; }

.nav-menu-hamburguesa {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position: fixed;
  height: 100vh;
  width: 100%;
  padding: 30px;
  transition-property: left;
  transition-duration: 0.6s; }
  .nav-menu-hamburguesa ul li {
    margin: 10px 0px; }

li button {
  color: white;
  font-family: Roboto; }

.seccion-inicio {
  background-image: url(../images/fondos/fondoBuscadorComic.svg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.6s; }

.secciones {
  background-image: url(../images/fondos/fondoBuscadorComic.svg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 0.8s; }

.contenido-seccion-principal {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 5%;
  flex-wrap: wrap; }

.cuadro-comic {
  border: 3px solid black;
  font-family: ActionManItalic;
  color: black;
  background-color: #ffbf0f;
  box-shadow: 6px 6px 0px 0px black;
  padding: 20px;
  margin: 20px; }

.contenedor-opcion {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 3px solid black;
  font-family: ActionManItalic;
  margin: 10px;
  background-image: url(../images/fondos/tarjeta-roja-naranja.svg);
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 500px;
  width: 300px; }

#opcion-1 {
  background-image: url(../images/fondos/fondo-tarjeta-violeta.svg);
  background-attachment: local; }

#opcion-3 {
  background-image: url(../images/fondos/tarjeta-amarilla-punteada.svg);
  background-attachment: local; }

.cuadro-comic-dialogo {
  border: 3px solid black;
  background-color: white;
  padding: 10px;
  margin: 0 10px; }
  .cuadro-comic-dialogo p {
    font-family: ActionManRegular;
    color: black;
    line-height: 1.2; }

.contenedor-tarjetas-y-botones-paginado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  padding: 20px;
  background-color: white;
  border: 3px solid black;
  box-shadow: 6px 6px 0px 0px black;
  max-width: 1200px; }

.contenedor-tarjetas {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contenedor-cargando {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0px; }

.contenedor-imagen-sin-resultados {
  width: 200px;
  padding: 20px; }

.borde-blanco {
  background-color: white;
  margin: 10px;
  box-shadow: 6px 6px 0px 0px black; }

.borde-blanco-tarjeta-personaje {
  background-color: white;
  border: 10px solid white;
  border-radius: 5px;
  box-shadow: 6px 6px 0px 0px black;
  margin: 20px; }

.contenedor-elemento-seleccionado {
  max-width: 900px;
  background-color: #ebd096;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px; }

.contenedor-imagen-objeto-seleccionado {
  display: flex;
  border: 3px solid black;
  max-width: 250px; }

.fondo-texto {
  background-color: black;
  color: white;
  position: relative;
  top: 0px;
  height: 80px;
  border-top: 6px solid #ffbf0f;
  padding: 10px;
  text-align: center; }

.tarjeta-personaje {
  margin: 10px 5px;
  cursor: pointer;
  width: 200px;
  position: relative;
  transition: 2s; }

.contenedor-imagen-lista-personajes {
  height: 240px;
  overflow: hidden;
  position: relative; }
  .contenedor-imagen-lista-personajes img {
    height: 100%;
    width: auto;
    position: relative;
    right: 8px; }

.fa-bars, .fa-times {
  color: white; }

li button, li a {
  font-size: 1rem; }

footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  height: 20vh;
  border-top: 2px solid white; }

.footer-social-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.icono-redes {
  font-size: 25px;
  margin: 10px;
  cursor: pointer; }

.texto-footer {
  font-family: Roboto;
  color: white;
  font-size: 20px; }

.ocultar {
  display: none; }

.row-centrar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap; }

.contenedor-boton-cerrar {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.tarjeta-comic {
  height: 350px;
  width: 249px;
  margin: 0px 10px 130px 10px;
  transition: 2s;
  cursor: pointer; }

.contenedor-imagen-lista-comics {
  height: 380px;
  position: relative; }
  .contenedor-imagen-lista-comics img {
    height: 100%; }

.personaje-seleccionado {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start; }

.comics-personaje-seleccionado {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.contenedor-nombre-descripcion {
  padding: 20px; }
  .contenedor-nombre-descripcion p {
    font-family: ActionManRegular;
    color: black;
    line-height: 1.2; }

.imagen-personaje-lista-personaje {
  margin-bottom: 20px;
  transition: 0.2s; }

.column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal; }

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 700px; }

.personajes-del-comic, .comics-del-personaje {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 10px 5px;
  transition: transform 0.3s;
  max-width: 150px;
  max-height: 320px; }

.personajes-del-comic {
  height: 200px; }

.comics-del-personaje {
  height: 330px; }

.input-icono {
  width: 100%;
  margin: 10px 0px;
  display: flex;
  align-items: center;
  border: 3px solid black;
  border-radius: 10px; }

.botones-busqueda {
  position: relative;
  display: flex;
  align-items: center; }

.fa-search {
  display: flex;
  align-items: center;
  position: absolute;
  padding: 15px;
  right: 0;
  font-size: 20px;
  background-color: black;
  color: white;
  height: 50px;
  border-radius: 0px 5px 5px 0px; }

.elemento-no-encontrado {
  display: flex;
  max-width: 650px;
  background-color: white;
  border: 3px solid black;
  border-radius: 5px;
  padding: 20px; }

.ocultar {
  display: none; }

.texto-derechos-reservados {
  margin: 20px 0; }

.info-superheroe {
  margin: 5px;
  font-family: Roboto; }

@media (max-width: 991.98px) {
  .contenedor-tarjetas-y-botones-paginado {
    max-width: 800px; } }
@media (max-width: 767.98px) {
  .contenedor-tarjetas-y-botones-paginado {
    max-width: 770px; }

  #contenedor-tarjetas-personajes {
    max-width: 420px; }

  .nav-menu ul {
    display: none; }

  #contenedor-tarjetas-comics {
    max-width: 540px; } }
@media (max-width: 575.98px) {
  .contenedor-tarjetas-y-botones-paginado {
    max-width: 570px; }

  .contenedor-tarjetas {
    flex-direction: column; }

  .tarjeta-personaje {
    width: 75%;
    height: 340px; }

  .personaje-seleccionado {
    flex-direction: column-reverse;
    align-items: center; }

  .contenedor-imagen-objeto-seleccionado {
    margin-bottom: 30px; }

  .imagen-personaje-lista-personajes {
    width: -webkit-fill-available;
    right: 0px; }

  #contenedor-tarjetas-comics {
    max-width: 280px; } }
@media (max-width: 361px) {
  .imagen-personaje-lista-personajes {
    width: -webkit-fill-available;
    right: 0px; }

  .contenedor-tarjetas-y-botones-paginado {
    max-width: 360px; }

  .tarjeta-personaje {
    width: calc(100% - 2 * 10px); }

  .tarjeta-personaje {
    width: 75%;
    height: auto; }

  .cuadro-comic {
    max-width: 255px; }

  h2 {
    font-size: 35px; }

  .contenedor-elemento-seleccionado {
    width: 260px; } }
@media (max-width: 279.98px) {
  .tarjeta-personaje {
    width: 90%;
    height: 263px; } }
@media (min-width: 767.98px) {
  .contenedor-boton-cerrar button {
    display: none; } }

/*# sourceMappingURL=style.css.map */
